<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="aos.css">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Nanum+Gothic|Nanum+Gothic+Coding"
        rel="stylesheet">
    <link rel="shortcut icon" href="finger.ico">
    <script src="vue.js"></script>
    <script src="aos.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td class="navtd tdf" v-on:click="crudtrue=false">
                    <router-link to="/">대문</router-link>
                </td>
                <td class="navtd" v-on:click="crudtrue=true">
                    <router-link to="/crud">게시판</router-link>
                </td>
                <td class="navtd"></td>
                <td class="navtd"></td>
            </tr>
        </table>
        <div v-if="!crudtrue" class="mainbox container">
            <div class="gle">맹정열
                -2019.06.17~2021.01.11 R.I.P</div><video autoplay loop src="soldier.mp4" class="mainvideo" />
        </div>
        <div v-if="crudtrue">
            <div class="container">
                <div class="submitform">
                    <div class="form-row">
                        <div class="form-group col-lg">
                            <label class="inputpost">작성자</label>
                            <input v-model="writer" type="text" class="form-control" id="writer" placeholder="작성자"
                                autowired>
                        </div>
                        <div class="form-group col-lg">
                            <label class="inputpost">비밀번호</label>
                            <input v-model="password" type="password" class="form-control" id="password"
                                placeholder="비밀번호">
                        </div>
                    </div>
                    <textarea v-model="content" class="form-control" id="content" rows="4" placeholder="내용"></textarea>
                    <button v-on:click="write()" class="btn btn-primary smb">등록</button><br><br><br>
                </div>
            </div>
            <div v-for="postdata in list" v-model="list">
                <div class="pdata">
                    <h3>{{postdata.writer._value}}</h3><span class="postdate">{{postdata.date}}</span><br>
                    <h5>{{postdata.content._value}}</h5><br>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">asdf</div>
    </div>
    <script>
        const Foo = { template: '' }
        const Bar = {
            template: ``
        }
        const routes = [
            { path: '/', component: Foo },
            { path: '/crud', component: Bar, props: true }
        ]
        const router = new VueRouter({
            routes
        })
        AOS.init();
        firebase.initializeApp(config);
        var newPostKey = firebase.database().ref().child('posts').push().key;
        var lists;
        const app = new Vue({
            router,
            data: {
                writer: '',
                password: '',
                content: '',
                list: 'r',
                crudtrue: false
            },
            created: function () {
                firebase.database().ref('board').orderByKey().once('value', function (snapshot) {
                    var rows = [];
                    snapshot.forEach(function (childSnapshot) {
                        var childData = childSnapshot.val();

                        //childData.date = dateFormat(childData.date, "yyyy-mm-dd");
                        rows.push(childData);
                    });
                    app.list = rows.reverse();
                });
            },
            methods: {
                write: function () {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1;
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd;
                    }
                    if (mm < 10) {
                        mm = '0' + mm;
                    }
                    today = yyyy + '/' + mm + '/' + dd;
                    var postData = {
                        no: newPostKey,
                        writer: writer,
                        password: password,
                        content: content,
                        date: today
                    };
                    var updates = {};
                    updates['/board/' + newPostKey] = postData;
                    firebase.database().ref().update(updates);
                    readlist();
                },
                readlist: function () {
                    firebase.database().ref('board').orderByKey().once('value', function (snapshot) {
                        var rows = [];
                        snapshot.forEach(function (childSnapshot) {
                            var childData = childSnapshot.val();

                            //childData.date = dateFormat(childData.date, "yyyy-mm-dd");
                            rows.push(childData);
                        });
                        app.list = rows.reverse();
                    });
                }
            }
        }).$mount('#app')
        setInterval(function(){
            readlist();
        },1000);
    </script>
</body>

</html>