body{
  background-color: #c92a2a;
}
#apbar{
	position: absolute;
	width:11vw;
	z-index:4;
}
#apbar2{
	position: absolute;
	width:42vw;
	z-index:3;
}
#apbar3{
	position: absolute;
	width:74vw;
	z-index:2;
}
#apbar4{
	position: absolute;
	width:86.7vw;
	z-index:1;
}
.armybar{
	display: inline;
	position: relative;
	box-sizing: border-box;
}
.armybar div{
	height:3vh;
}
/*#e02d2d*/